
.root {
    text-align: left;
    margin: 20px;

}
.input {
    color: #c1c1c1;
}
.heading {
    font-size: 18px;
    font-family: NationalBold;
}

.StickBottom{
    position: fixed;
    bottom: 10%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
}

.Navbar
{
    background: #8A4CF6;
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
